# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

tmp/tmp_file_command.txt
tmp/tmp_file_training.txt
src/main/java/META-INF/MANIFEST.MF
text-ui-test/tmp/tmp_file_command.txt
text-ui-test/tmp/tmp_file_training.txt
tmp/storage.txt
cooperLogs.log
tmp/balanceSheet.txt
tmp/meetings.txt
tmp/signInDetails.txt
tmp/availability.txt
cooperLogs.log.lck
tmp/cashFlowStatement.txt
