# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

tmp/tmp_file_command.txt
tmp/tmp_file_training.txt
src/main/java/META-INF/MANIFEST.MF
text-ui-test/tmp/tmp_file_command.txt
text-ui-test/tmp/tmp_file_training.txt
cooperLogs.log
cooperLogs.log.lck
cooperData/balanceSheet.txt
cooperData/meetings.txt
cooperData/signInDetails.txt
cooperData/availability.txt
cooperData/cashFlowStatement.txt
output/backupBs.txt
output/backupCf.txt
output/BalanceSheet.pdf
output/CashFlowStatement.pdf
cooperData/forum.txt
tmp/availability.txt
tmp/balanceSheet.txt
tmp/cashFlowStatement.txt
tmp/meetings.txt
tmp/signInDetails.txt
tmp/storage.txt
